/* Set the CSS variable based on an estimated height */
:root {
    --header-height: 80px; /* Estimate the height */
    --footer-height: var(--header-height); /* Set the footer height to match the header height */
}

/* Basic reset for consistent margins and paddings */
           
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background-color: var(--background);
    color: var(--foreground);
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    justify-content: center;
    align-items: center;
    padding-top: var(--header-height); /* Use the variable  */
}


/*  When the body has display: flex;, 
    its children (header, footer, and main) become flex items. 
    Flex items do not expand to fill their container's width
    unless you explicitly set their width.
*/

main {
    width: 100%; /* Make sure it takes full width */
    flex: 1; /* Allow it to grow within the flex container */
}

header,
footer {
    position: fixed;
    background-color: var(--secondary);
    color: var(--secondary-foreground);
    gap: 10px;
    width: 100%; /* Make the header and footer take full width */
    /*z-index: 10;*/
}


footer {
    bottom: 0;
    width: 100%;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    max-height: var(--footer-height);
}

header {
    top: 0;
    width: 100%;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    max-height: var(--header-height);
}

header div,
footer div {
    background-color: var(--primary);
    padding: 10px;
    text-align: center;
    display: block;
}


h1,
h2,
h3,
h4 {
    color: var(--destructive);
}

a {
    color: var(--muted-foreground);
}

article {
    margin-bottom: 40px;
    background-color: var(--accent);
    padding: 20px 40px;
    border-radius: 10px;
    color: var(--destructive);
}

blockquote {
    background-color: var(--foreground);
    border-left: 10px solid var(--muted);
    margin: 20px 0;
    padding: 10px 20px;
}

cite {
    display: block;
    margin-top: 10px;
    font-size: 0.9em;
    color: var(--primary);
}

p {
    margin: 15px 0;
    line-height: 1.8;
}

.highlight {
    color: var(--primary);
}

.header-container h1 {
    font-size: 2.5em;
    color: var(--destructive);
    margin: 0;
    padding-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
}

.toc {
    text-align: center;
    margin: 20px 0;
}

.toc a {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: var(--muted);
    border-radius: 5px;
    color: var(--foreground);
    text-decoration: none;
}

.toc a:hover {
    background-color: var(--primary);
}

.final-section {
    text-align: center;
    padding: 40px 20px;
    background-color: var(--muted);
    color: var(--foreground);
}

.final-section a {
    display: block;
    margin: 10px 0;
    color: var(--foreground);
    text-decoration: none;
    font-weight: bold;
}

.final-section a:hover {
    color: var(--accent);
}