/*
  MEDIA QUERIES
  https://alistapart.com/article/responsive-web-design/
  https://www.w3.org/TR/mediaqueries-3/
*/

/* Mobile Portrait */
@media only screen and (max-width: 600px) and (orientation: portrait) {
}
/* EndOf MobilePortrait */

/* Mobile Landscape */
@media only screen and (max-width: 800px) and (orientation: landscape) {
}

/* Tablet Portrait */
@media only screen and (min-width: 601px) and (max-width: 1200px) and (orientation: portrait) {
	/* Navbar */
	.nav-menu {
		display: none;
		/* Hide hamburger icon on desktop */
	}

	header .nav-items {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		position: static;
	}

	header .nav-items li {
		border: none;
	}

	header .nav-items li a {
		padding: 20px 30px;
	}

	/* EndOf Navbar */

	.grid {
		grid-template-columns: var(--aside-width) 1fr;
		grid-template-areas: 'sidebar content';
	}

	main.grid {
		grid-template-columns: 1fr;
		grid-template-areas: 'content';
	}

	.toc {
		position: relative;
		transform: translateX(0);
		box-shadow: none;
	}

	.sidebar-toggle-btn {
		display: none;
	}
}

/* Tablet Landscape */
@media only screen and (min-width: 801px) and (max-width: 1200px) and (orientation: landscape) {
	/* Navbar */
	.nav-menu {
		display: none;
		/* Hide hamburger icon on desktop */
	}

	header .nav-items {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		position: static;
	}

	header .nav-items li {
		border: none;
	}

	header .nav-items li a {
		padding: 20px 30px;
	}

	/* EndOf Navbar */

	.grid {
		grid-template-columns: var(--aside-width) 1fr;
		grid-template-areas: 'sidebar content';
	}

	main.grid {
		grid-template-columns: 1fr;
		grid-template-areas: 'content';
	}

	.toc {
		position: relative;
		transform: translateX(0);
		box-shadow: none;
	}

	.sidebar-toggle-btn {
		display: none;
	}
}

/* Small Desktop */
@media only screen and (min-width: 1201px) and (max-width: 1600px) {
	/* Navbar */
	.nav-menu {
		display: none;
		/* Hide hamburger icon on desktop */
	}

	header .nav-items {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		position: static;
	}

	header .nav-items li {
		border: none;
	}

	header .nav-items li a {
		padding: 20px 30px;
	}

	/* EndOf Navbar */

	.grid {
		grid-template-columns: var(--aside-width) 1fr;
		grid-template-areas: 'sidebar content';
	}

	main.grid {
		grid-template-columns: 1fr;
		grid-template-areas: 'content';
	}

	.toc {
		position: relative;
		transform: translateX(0);
		box-shadow: none;
	}

	.sidebar-toggle-btn {
		display: none;
	}
}

/* Large Desktop */
@media only screen and (min-width: 1601px) {
	/* Navbar */
	.nav-menu {
		display: none;
		/* Hide hamburger icon on desktop */
	}

	header .nav-items {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		position: static;
	}

	header .nav-items li {
		border: none;
	}

	header .nav-items li a {
		padding: 20px 30px;
	}

	/* EndOf Navbar */

	.grid {
		grid-template-columns: var(--aside-width) 1fr;
		grid-template-areas: 'sidebar content';
	}

	main.grid {
		grid-template-columns: 1fr;
		grid-template-areas: 'content';
	}

	.toc {
		position: relative;
		transform: translateX(0);
		box-shadow: none;
	}

	.sidebar-toggle-btn {
		display: none;
	}
}
