/*
  MEDIA QUERIES
  https://alistapart.com/article/responsive-web-design/
  https://www.w3.org/TR/mediaqueries-3/
*/




  /* Mobile Portrait */
  @media only screen and (max-width: 600px) and (orientation: portrait) {
    body {
      font-size: 1rem;
    }
  }
  
  /* Mobile Landscape */
  @media only screen and (max-width: 800px) and (orientation: landscape) {
    body {
      font-size: 1.2rem;
    }
  }
  
  /* Tablet Portrait */
  @media only screen and (min-width: 601px) and (max-width: 900px) and (orientation: portrait) {
    body {
      font-size: 1.4rem;
    }
  }
  
  /* Tablet Landscape */
  @media only screen and (min-width: 801px) and (max-width: 1200px) and (orientation: landscape) {
    body {
      font-size: 1.6rem;
    }
  }
  
  /* Small Desktop */
  @media only screen and (min-width: 1201px) and (max-width: 1600px) {
    body {
      font-size: 1.8rem;
    }
  }
  
  /* Large Desktop */
  @media only screen and (min-width: 1601px) {
    body {
      font-size: 2rem;
    }
  }
  