/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    color: #333;
}

section {
    color: red;
}

#inicio {
    font-weight: bolder;
    color: greenyellow;
}

.emphasis{
    text-align: right;
}