@import url('https://fonts.cdnfonts.com/css/data-70');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

/* Typekit service to deliver fonts for use on websites by Adobe */
/* adobe-caslon-pro */
@import url('https://use.typekit.net/ngi6gef.css');

/* Futurist Style Fonts */
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap');

/* Bauhaus and Bauhaus-like Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap'); /* Duplicate removed */
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

/* Classical Computer Graphics Fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

@font-face {
	font-family: 'OCR-A';
	src: url('../assets/fonts/OCRA.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OCR-B';
	src: url('../assets/fonts/OCR-B.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
