.typewriter {
    overflow: hidden;
    border-right: 0.05em solid var(--destructive-foreground);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: none;
    /* No animation initially */
}

.typewriter.animate {
    animation:
        typing 3.5s steps(40, end),
        blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: var(--destructive-foreground);
    }
}